#readBook, #readBook.fullScreen {
	width: 960px;
	height: 92%;
	margin: 0 auto;
	/* Increasing the font size for legibility*/
	font: 17px serif;
	padding: 45px 45px 10px;
	background: #0;
	color: #A7EC21;
	overflow: hidden;
}

#readBook a{
	color: #fff;
	text-decoration: none;
}

table#readArea {
	width: 100%;
}

table#readArea td{
	width: 25%;
}

h3{
	text-align: center;
}

table#gridList{
	width: 80%;
	cursor: pointer;
	border-collapse:collapse;
	/* 下面两个属性设置，使得表格居中 */
	margin-left: auto;
	margin-right: auto;
}

table#gridList tbody tr{
	height: 36px;
}

table#gridList tbody tr:hover{
	background-color:#666; 
	color:#FFF;
}

table#gridList tbody tr:hover img{
	display: block;
}

table#gridList .action{
	width: 25px;
}

table#gridList .datecol{
	width: 150px;
}

table#gridList img{
	display: none;
	padding-left: 0;
	/* 这样设置，可以让表格内图片水平和垂直均居中 */
	margin: 0 auto;
}

table#gridList input{
	width: 95%;
}

table#gridList tbody td{
	padding-left: 4px;
}

#gridInput{
	display: none;
}

/*
table, th, td, tr{
	border: 1px solid;
}
*/
